<div class="form-field" [class.invalid]="invalid()">
  <label [for]="name()">{{ label() }}</label>
  @if (type() === 'select') {
    <select id="{{ name() }}" (change)="onInputChange($event)" [value]="value" [class.error]="invalid()">
      <option value="">Пожалуйста, выберите</option>
      @if (name() === 'gender') {
        @for (gender of genders; track gender) {
          <option value="{{ gender }}">{{ gender }}</option>
        }
      }
      @else if (name() === 'country') {
        @for (country of countries; track country.phoneCode) {
          <option value="{{ country.code }}">({{ country.phoneCode }}) {{ country.name }}</option>
        }
      }
    </select>
  } @else {
    <input
      (input)="onInputChange($event)"
      id="{{ name() }}"
      type="{{ type() }}"
      min="{{ min() }}"
      max="{{ max() }}"
      placeholder="Введите {{ label() | lowercase }}"
      [value]="value" 
      [mask]="inputMask()"
      [class.error]="invalid()"
    />
  }

  @if (invalid()) {
    <div class="error-message">
      {{ errorMes() }}
    </div>
  }
</div>
