<div class="form-field" [class.invalid]="isInvalid">
    <label [for]="id()">{{ label() }}</label>
        @if (type() === 'tel') { 
            <input
                [id]="id()"
                [type]="type()"
                [value]="value"
                [disabled]="disabled"
                [placeholder]="placeholder()"
                (input)="onInput($event)"
                (blur)="onTouched()"
                mask="(000) 000-00-00"
                [class.error]="isInvalid"
                />
        }
        @else {
            <input
                [id]="id()"
                [type]="type()"
                [value]="value"
                [disabled]="disabled"
                [placeholder]="placeholder()"
                (input)="onInput($event)"
                (blur)="onTouched()"
                [class.error]="isInvalid"
                />
        }
        @if (isInvalid && errorMessage()) {
            <div class="error-message">
                {{ errorMessage() }}
            </div>
        } 
</div>