<div class="form-field" [class.invalid]="isInvalid">
    <label [for]="id()">{{ label() }}</label>
    <input
        [id]="id()"
        [type]="type()"
        [value]="value"
        [disabled]="disabled"
        [placeholder]="placeholder()"
        (input)="onInput($event)"
        (blur)="onTouched()"
        [class.error]="isInvalid"
        />
        @if (isInvalid && errorMessage()) {
            <div class="error-message">
                {{ errorMessage() }}
            </div>
        } 
</div>